.gallery {
    .textWrapper {
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: black;
        position: relative;
        padding-block: 16px;

        .mainTitle {
            font-size: 42px;
            font-weight: 700;
            font-family: "Great Vibes";
            margin: 0;
        }

        .mainDate {
            font-size: 36px;
            font-weight: 400;
            font-family: "Cormorant Garamond";
            margin: 0;
        }
    }

    .imagesGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4px;
        padding-inline: 4px;
        padding-bottom: 40px;

        &.picking {
            .isPicked {
                display: block;
                position: absolute;
                left: 10px;
                top: 10px;
                border-radius: 6px;
                width: 26px;
                height: 26px;
                background-color: rgba(57, 57, 57, 0.678);
                border: 2px solid white;
            }
        }
        
        .imageBtnWrapper {
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            &.picked {
                .isPicked {
                    background-color: white;
                    display: grid;
                    place-items: center;

                    .checkmark {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }

            .imageBtn {
                cursor: pointer;
                border-radius: 8px;
                overflow: hidden;
                background: transparent;
                border: none;
                padding: 0;
                width: 100%;
                height: 100%;
                aspect-ratio: 1 / 1;
    
                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .noData {
        margin: 0 auto;
        width: 100%;
        padding-block-start: 40px;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) {
    .gallery {
        .imagesGrid {
            grid-template-columns: repeat(6,1fr);
        }    
    }
}

@keyframes showBtn { 
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}