.header {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: clamp(42px, 12dvw, 48px);
    letter-spacing: 4px;
    font-weight: 400;
    color: white;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    line-height: 0;
}