.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  left: 12px;
  right: auto;
  top: 18px;

  &.hebrew {
    left: auto;
    right: 12px;
    flex-direction: row-reverse;
  }

  .btn {
    padding: 5px;
    background-color: white;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      height: 100%;
    }
  }
}
